---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-item">
      <div class="post-preview">
        {%- if post.image -%}
        <div class="post-image">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}">
          </a>
        </div>
        {%- endif -%}

        <div class="post-content">
          <p class="post-meta">

          {%- assign date_format = site.minima.date_format | default: "%m/%d/%Y" -%}
          <span>{{ post.date | date: date_format }}</span>
          {% for tag in post.tags %}
          •
          <span itemprop="tag">#{{ tag | downcase | remove: ' ' }}</span>
          {% endfor %}

          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>

          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
          </p>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>
