---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}


  {% for tag in site.tags %}
  <h3>{{ tag[0] | upcase }}</h3>

  <ul class="post-list">
      {%- for post in tag[1] -%}
      {% if post.lang == site.active_lang %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%m/%d/%Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {% endif %}
      {%- endfor -%}
    </ul>
    {% endfor %}
  {%- endif -%}

</div>
